* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    padding:0 2rem;
    background-color: #f6f7fb;
    color:#403f3f;
}
header {
    text-align: center;
    padding: 1rem;
}
header h3 {
    margin-top: 2rem;
    color: #111e3e;
    text-transform: uppercase;
}
header p > span {
    font-family: cursive;
    color: #111e3e;
    font-weight: 700;
}
#finance_list {
    display:none;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 2rem;
    box-shadow: 5px 5px 20px #1b1e2d;
}
.data_group {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.form_group {
    padding: 0.5rem;
    text-align: center;
}
.form_group input, .form_group select {
    padding: 0.5rem 1rem;
    background-color: #fff;
    outline: none;
    border: none;
    color: #3f3d3d;
}
.add_btn {
    padding: 0.6rem 2.3rem;
    background-color: rgb(47, 94, 64);
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    transition: all 300ms ease;
    border-radius: 4px;
    border: 2px solid rgb(47, 94, 64);

}
.add_btn:hover {
    opacity: 0.7;
    color: rgb(22, 58, 32);
    background-color: #ccc;
    border: 2px solid rgb(22, 58, 32);
}
footer {
    text-decoration: underline;
    background-color: #111e3e;
    min-width: 100vw;
    text-align: center;
    padding: 2rem;
}
